/** Required npm packages:
 * — eslint
 * — babel-eslint
 * — eslint-config-prettier
 * — eslint-plugin-react
 * — eslint-plugin-prettier
 *
 * command: npm i -D eslint babel-eslint eslint-config-prettier eslint-plugin-react eslint-plugin-prettier
 */
{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "templateStrings": true,
      "jsx": true
    }
  },

  "plugins": ["react", "prettier"],

  "rules": {
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-console": 1,

    "camelcase": 1,
    "comma-spacing": 1,
    "key-spacing": 1,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 1,
    "no-spaced-func": 1,
    "quotes": ["warn", "double"],
    "no-var": 2,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-typos": 1,
    "react/no-deprecated": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-this-in-sfc": 2,
    "react/style-prop-object": 2,
    "prettier/prettier": [
      "error",
      {
        "doubleQuote": true,
        "jsxBracketSameLine": false,
        "endOfLine": "auto"
      }
    ]
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "commonjs": true,
    "jest": true
  }
}
