.video-player {
  background: url('./bg.jpg');
  /* height: 100%; */
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-player video {
  width: 600px;
  height: 300px;
}
.control_panel {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 10px;
  background-color: thistle;
  /* opacity: 0.3; */
}
.control_panel button {
  opacity: 1;
  display: inline-block;
  margin: 0 15px 0 15px;
  padding: 15px;
  font-size: 20px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 15px;
}