.farm {
  width: 250px;
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 20px;
  margin: 0 10px;
}
.farm button {
  width: 100%;
  margin-bottom: 26px;
}
.order-list {
  padding: 20px 0;
}
