@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
}
* {
  margin: 0;
}
html {
  height: calc(100% - 92px);

}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "SegoeUI";
  height: 100%;
}
.header-wrapper {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 24px;
  background-color: #15425e;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);  }
  .jss55 jss34 {
    border: 0;
margin: 0;
/* cursor: pointer; */
display: flex;
outline: none;
padding: 0;
border-radius: 0;
vertical-align: middle;
justify-content: center;
text-decoration: none;
background-color: transparent;
  }
  .wrapper_img {
    background-image: url('pics/smile.png');
  }
footer {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px 0 0;
  overflow-x: visible;
  overflow-y: hidden;
}
.body__content:after {
  content: "";
  display: block;
  margin-bottom: -28px;
}
.body__content:after,
footer {
  height: 28px;
}
.UI__input * {
  margin: 7px 0 7px 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.body__content {
  background-color: #4488dd;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.content__background-pic {
  
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.form__content-wrapper * {
  margin: 15px 0 15px 0;
}
.form__content-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  min-height: 235px;
  min-width: 320px;
  max-width: 412px;
  width: 338px;
  height: auto;
  padding: 20px 36px 20px 36px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
/* .form__header {
  font-size: 1.4rem;
  font-family: 'SegoeUI';
  font-weight: 100;
  margin-bottom: 30px;
} */

.main-form {
  width: 338px;
}
.button {
  opacity: 0.3;
  position: fixed;
  top: 0;
}
.button:first-child {
  right: 0;
}
.button:nth-child(2) {
  left: 200px;
}
.button-handler {
  display: flex;
  flex-direction: row;
}
.form__input-email {
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  direction: ltr;
  display: block;
  /* font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math"; */
  font-size: 15px;
  font-weight: normal;
  height: 52px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: -2px;
  text-align: left;
  text-size-adjust: 100%;
  width: 340px;
}
/* .main-reset {
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  direction: ltr;
  display: block;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol",
    "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi,
    "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI",
    "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa",
    "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa",
    "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli",
    "Myanmar Text", "Cambria Math";
  font-weight: 300;
  font-size: 1.2rem;
  height: auto;
  line-height: 28px;
  margin-bottom: 16px;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
  width: 342px;
  background-color: transparent;
} */
/* .UI__button-reset:hover {
  background: rgb(0, 85, 152);
  border: 1px solid rgb(0, 85, 152);
}
.UI__button-reset {
  align-items: flex-start;
  border-radius: 3px;
  background-color: rgb(0, 103, 184);
  border-bottom-color: rgb(0, 103, 184);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 103, 184);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(0, 103, 184);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(0, 103, 184);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 338px;
  height: 36px;
} */
/* .attention-note-success,
.attention-note-failure {
  background: #15425e;
  padding: 8px;
  color: white;
  font-family: "Roboto";
  border-radius: 3px;
  font-size: 17px;
}
.attention-note-failure {
  background: rgba(100, 122, 138, 0.1);
  border: 1px solid darkgray;
  color: black;
} */
/* .warning__input input{
  border-color: red;
} */
/* 
.password_input {
  display: flex;
  margin: 0;
}
.password_general {
  height: 143px;
} */
/* .sign_in_portal {
  font-family: "Roboto";
  border-radius: 3px;
  font-size: 17px;
  border: 1px solid black;
  margin:0 auto;
  margin-top: 50px;
  padding: 5px;
  text-align: center;
  width: 50%;
  background-color: #f5f5f5;
}
.sign_in_portal a{
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .hidden_password {
  background-color: dimgrey;
  /* outline: none; */
  /* margin-bottom: 0;
  margin-left: 3px;
  border: 1px solid rgb(177, 143, 143);
  border-radius: 10%;
  background-size: 35px;
  background-position: center;
  background-image: url('pics/show_password.png');
  background-repeat: no-repeat;
  background-color: white;
  opacity: 0.5;
  height: 36px;
  width: 50px;
  cursor: pointer;
} */
/* .show_password { */
  /* outline: none; */
  /* margin-bottom: 0;
  margin-left: 3px;
  background-size: 20px;
  border: 1px solid rgb(177, 143, 143);
  border-radius: 10%;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 0.5;
  height: 36px;
  width: 50px;
  cursor: pointer;
  background-image: url('pics/hidden_password.png');
}  */
/* .input_error_message {
  height: 92px;
  font-size: 11px;
  font-style: italic;
  margin: 0px;
  color: darkgray;
  line-height: 17px;
}
.input_email_error {
  height: 20px !important;
}
.input_error_message p {
  margin: 1px;
} */
/* .input__input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-left: 4pt;
  width: 337px;
  height: 36px;
  border-bottom-color: rgba(0, 0, 0, 0.6);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  margin-bottom: 0px; */
/* } */
/* .launch_animation {
  width: 12px;
  position: relative;
  animation-name: line_;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes line_ {
  0% {background-color:#15425e;; left:0px; top:0px; height: 10px;}
  50% {background-color:#8a899a; left:0px; top:0px; height: 200px;}
  100% {background-color:#15425e;; left:0px; top:0px; height: 10px;}
} */
#root {
  position: fixed;
  top: 50%;
  left: 50%;
}

h4 {
  margin-bottom: 10px;
}


@media screen and (min-width: 100px) and (max-width: 600px)  {

  .content__background-pic {
    background-image: none;
  }
  .body__content {
    background-color: white;
  }
 

}

@media (max-width: 600px), (max-height: 392px) {
  .content__background-pic {
    background-image: none;
  }
  .body__content {
    background-color: white;
  }
  #root {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    background-color: #fff;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    min-height: 290px;
    min-width: 320px;
    max-width: 412px;
    width: calc(100% - 40px);
    height: auto;
    padding: 23px 18px 0px 18px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
}

.content__background-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}